<div>
    <h1>Inyeccion de cokies</h1>
    <form action="" id="cookieForm">
        <label for="">Nombre</label>
        <input type="text" name="name">
        <label for="">E-mail</label>
        <input type="text" name="email">
        <input type="submit">
    </form>
    <button onClick="getCookie()">Obtener Cookie</button>
</div>

<script src="/js/cookieSetter.js"></script>