<div>
    <h1>Login</h1>
    <form id="loginForm"action="">
        <label for="">email</label>
        <input type="text" name="email">
        <br/>
        <label for="">contraseña</label>
        <input type="password" name="password">
        <br/>

        <input type="submit">
    </form>

    <p>¿No tenés una cuenta? <a href="/register">Ingresa aquí</a></p>
</div>

<script src="/js/login.js"></script>