<div>
    <h1>Registro</h1>
    <form id="registerForm"action="">
        <label for="">nombre</label>
        <input type="text" name="first_name">
        <br/>
        <label for="">apellido</label>
        <input type="text" name="last_name">
        <br/>
        <label for="">email</label>
        <input type="text" name="email">
        <br/>
        <label for="">edad</label>
        <input type="text" name="age">
        <br/>
        <label for="">contraseña</label>
        <input type="password" name="password">
        <br/>

        <input type="submit">
    </form>

    <p>¿Ya tenés una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>

<script src="/js/register.js"></script>